// Colors
$light-grey: rgb(228, 228, 228);
$grey: rgb(175, 175, 175);
$black: rgb(46, 46, 46);
$green: #5fca64;
$orange: rgb(231, 180, 85);


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
